.category-container {
    margin-top: 20px;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category-list li {
    margin-bottom: 10px;
}

.category-list a {
    text-decoration: none;
    color: #000;
}

.category-list a:hover {
    text-decoration: underline;
}

.category-container h4 {
    color: #222;
    font-weight: bold;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
}

.pagination {
    margin-top: 20px;
}
.category-list li.active a {
    font-weight: bold;
    color: #007bff;
}

